@using System.Text.Json.JsonDiffPatch.Diffs
@using YamlDotNet.System.Text.Json

<ResizePanel Context="resize" Offset="20">
    <MudDataGrid T="CompareObjectResult"
                 Breakpoint="Breakpoint.None"
                 Dense="true"
                 Filterable="true"
                 FixedHeader="true"
                 Groupable="true"
                 Height="@resize"
                 Hover="true"
                 Items="Results.Where(x => x.Result != CompareObjectResultEnum.None)"
                 SortMode="SortMode.Single"
                 Virtualize="true">
        <Columns>
            <Column T="CompareObjectResult" Field="@nameof(CompareObjectResult.Type)" HeaderStyle="@($"width: 25%")" />

            <Column T="CompareObjectResult" Field="@nameof(CompareObjectResult.Name)" HeaderStyle="@($"width: 25%")">
                <CellTemplate>
                    @if (context.Item.Result == CompareObjectResultEnum.Modified)
                    {
                        <a href="javascript:void(0)" @onclick="(x => ShowObjectDetails(context.Item))"><MudText Color="Color.Primary" Typo="Typo.inherit">@context.Item.Name</MudText></a>
                    }
                    else
                    {
                        @context.Item.Name
                    }
                </CellTemplate>
            </Column>

            <Column T="CompareObjectResult" Field="@nameof(CompareObjectResult.Namespace)" HeaderStyle="@($"width: 25%")" />

            <Column T="CompareObjectResult" Field="@nameof(CompareObjectResult.Result)" HeaderStyle="@($"width: 25%")">
                <CellTemplate>
                    @{
                        Color color = Color.Primary;

                        switch (context.Item.Result)
                        {
                            case CompareObjectResultEnum.Added:
                                color = Color.Success;
                                break;
                            case CompareObjectResultEnum.Modified:
                                color = Color.Info;
                                break;
                            case CompareObjectResultEnum.Removed:
                                color = Color.Warning;
                                break;
                        }
                    }
                    <MudText Typo="Typo.inherit" Color="color">@context.Item.Result</MudText>
                </CellTemplate>
            </Column>
        </Columns>
    </MudDataGrid>
</ResizePanel>

@code {
    [Inject]
    private IDialogService Dialog { get; set; }

    [Parameter] public ICluster Left { get; set; }
    [Parameter] public ICluster Right { get; set; }

    private List<CompareObjectResult> Results = new();

    protected override void OnInitialized()
    {
        Results = Compare(Left, Right);
    }

    public static List<CompareObjectResult> Compare(ICluster left, ICluster right)
    {
        var leftBase = ((ClusterBase)left);
        var rightBase = ((ClusterBase)right);
        var results = new List<CompareObjectResult>();

        var objectsToSkip = new List<string>()
        {
            $"{Corev1Event.KubeApiVersion}/{Corev1Event.KubeKind}"
        };

        foreach (var type in leftBase.Objects.Keys)
        {
            if (objectsToSkip.Contains(type))
            {
                continue;
            }

            var leftObjects = leftBase.Objects[type];

            if (rightBase.Objects.ContainsKey(type))
            {
                var rightObjects = rightBase.Objects[type];

                // type exists on the right
                foreach (var leftObject in leftObjects)
                {
                    if (rightObjects.ContainsKey(leftObject.Key))
                    {
                        var rightObject = rightObjects[leftObject.Key];

                        var compare = ObjectCompare.CompareObjects(leftObject.Value, rightObject);

                        if (compare.Kind == System.Text.Json.JsonDiffPatch.Diffs.DeltaKind.None)
                        {
                            results.Add(new CompareObjectResult()
                            {
                                Type = type,
                                Key = leftObject.Key,
                                Result = CompareObjectResultEnum.None,
                                Name = GetName(leftObject.Key),
                                Namespace = GetNamespace(leftObject.Key),
                                Original = leftObject.Value,
                                Modified = rightObject
                            });
                        }
                        else
                        {
                            results.Add(new CompareObjectResult()
                            {
                                Type = type,
                                Key = leftObject.Key,
                                Result = CompareObjectResultEnum.Modified,
                                JsonDiff = compare,
                                Name = GetName(leftObject.Key),
                                Namespace = GetNamespace(leftObject.Key),
                                Original = leftObject.Value,
                                Modified = rightObject
                            });
                        }
                    }
                    else
                    {
                        results.Add(new CompareObjectResult()
                        {
                            Type = type,
                            Key = leftObject.Key,
                            Result = CompareObjectResultEnum.Removed,
                            Modified = leftObject.Value,
                            Name = GetName(leftObject.Key),
                            Namespace = GetNamespace(leftObject.Key)
                        });
                    }
                }
            }
            else
            {
                // type doesn't exist on the right
                foreach (var item in leftObjects)
                {
                    results.Add(new CompareObjectResult()
                    {
                        Type = type,
                        Key = item.Key,
                        Result = CompareObjectResultEnum.Removed,
                        Modified = item.Value,
                        Name = GetName(item.Key),
                        Namespace = GetNamespace(item.Key)
                    });
                }
            }
        }

        foreach (var type in rightBase.Objects.Keys)
        {
            if (objectsToSkip.Contains(type))
            {
                continue;
            }

            var rightObjects = rightBase.Objects[type];

            if (leftBase.Objects.ContainsKey(type))
            {
                var leftObjects = leftBase.Objects[type];

                // type exists on the left
                foreach (var itemKey in rightObjects.Keys)
                {
                    var rightObject = rightObjects[itemKey];

                    if (!leftObjects.ContainsKey(itemKey))
                    {
                        results.Add(new CompareObjectResult()
                        {
                            Type = type,
                            Key = itemKey,
                            Result = CompareObjectResultEnum.Added,
                            Modified = rightObject,
                            Name = GetName(itemKey),
                            Namespace = GetNamespace(itemKey)
                        });
                    }
                }
            }
            else
            {
                // type doesn't exist on the left
                foreach (var itemKey in rightObjects.Keys)
                {
                    var rightObject = rightObjects[itemKey];

                    results.Add(new CompareObjectResult()
                    {
                        Type = type,
                        Key = itemKey,
                        Result = CompareObjectResultEnum.Added,
                        Modified = rightObject,
                        Name = GetName(itemKey),
                        Namespace = GetNamespace(itemKey)
                    });
                }
            }
        }

        return results;
    }

    private static string GetNamespace(string key)
    {
        return key.Substring(0, key.IndexOf('|'));
    }

    private static string GetName(string key)
    {
        return key.Substring(key.IndexOf('|') + 1);
    }

    public class CompareObjectResult
    {
        public string Namespace { get; set; }

        public string Name { get; set; }

        public string Type { get; set; }

        public string Key { get; set; }

        public CompareObjectResultEnum Result { get; set; }

        public JsonDiffDelta JsonDiff { get; set; }

        public IKubernetesObject<V1ObjectMeta> Original {get;set;}

        public IKubernetesObject<V1ObjectMeta> Modified { get; set; }
    }

    public enum CompareObjectResultEnum
    {
        None,
        Added,
        Removed,
        Modified
    }

    private void ShowObjectDetails(CompareObjectResult result)
    {
        var parameters = new DialogParameters()
        {
            { nameof(CompareObject.Diff), result.JsonDiff },
            { nameof(CompareObject.Left), result.Original },
            { nameof(CompareObject.Right), result.Modified },
        };

        var dialog = Dialog.Show<CompareObject>($"Object Diff", parameters, new DialogOptions()
        {
            CloseButton = true,
            FullScreen = true
        });
    }
}
