<h2>
    <a href="/@Namespace/Pods">Pods</a> / @Name
</h2>

<br />
@if (Item != null)
{
    <BSTabGroup>
        <BSTabList>
            <BSTab InitialSelection="true">
                <BSTabLabel>Yaml</BSTabLabel>
                <BSTabContent><pre><code id="yamlViewer" class="language-yaml">@k8s.Yaml.SaveToString(Item)</code></pre></BSTabContent>
            </BSTab>

            <BSTab>
                <BSTabLabel>Overview</BSTabLabel>
                <BSTabContent><KubeUI2.Components.Dynamic.UI Item="@Item" /></BSTabContent>
            </BSTab>

            <BSTab>
                <BSTabLabel>Logs</BSTabLabel>
                <BSTabContent>
                    <select class="form-control form-control-sm" @onchange="@((e) => LogLineCount = int.Parse(e.Value.ToString()))" title="Line Count" style="width: 100px">
                        <option value="50" selected="@(50 == LogLineCount)">50</option>
                        <option value="100" selected="@(100 == LogLineCount)">100</option>
                        <option value="200" selected="@(200 == LogLineCount)">200</option>
                    </select>
                    <BSTabGroup>
                        <BSTabList>
                            @foreach (var cont in Item.Spec.Containers)
                            {
                                <BSTab>
                                    <BSTabLabel>@cont.Name</BSTabLabel>
                                    <BSTabContent>
                                        <PodLogs Name="@Name" Namespace="@Namespace" Container="@cont.Name" Lines="@LogLineCount" />
                                    </BSTabContent>
                                </BSTab>
                            }
                        </BSTabList>
                        <BSTabSelectedContent />
                    </BSTabGroup>
                </BSTabContent>
            </BSTab>
        </BSTabList>
        <BSTabSelectedContent />
    </BSTabGroup>
}