@namespace BlazorTable
@typeparam TableItem

@if (MemberType == typeof(System.String))
{
    <select class="form-control form-control-sm" value="@stringFilters" @onchange="@((x) => stringFilters = (StringFilters)Enum.Parse(typeof(StringFilters), x.Value.ToString()))">
        @foreach (StringFilters suit in (StringFilters[])Enum.GetValues(typeof(StringFilters)))
        {
            <option value="@suit">@suit.GetDescription()</option>
        }
    </select>
    <input type="text" @bind-value="filterText" required></input>
}

<br />

<BSButtonGroup>
    <BSButton OnClick="@((x) => Column.ToggleFilter())" Color="Color.Secondary" Size="Size.ExtraSmall">Cancel</BSButton>
    <BSButton OnClick="@((x) => ApplyFilter())" Color="Color.Primary" Size="Size.ExtraSmall">Accept</BSButton>
</BSButtonGroup>