@typeparam TableItem
@implements ITable<TableItem>

<CascadingValue Value="(ITable<TableItem>)this" Name="Table">
    @ChildContent
</CascadingValue>

@if (Columns.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="thead-light text-dark">
                <tr>
                    @foreach (IColumn<TableItem> column in Columns)
                    {
                        <th @onclick="@(() => DataProvider.SortBy(column))" style="@(column.Sortable ? "cursor: pointer;" : "") @(!string.IsNullOrEmpty(column.Width) ? $"width:{column.Width};" : "")">
                            @column.Title

                            @if (DataProvider.SortColumn == column)
                            {
                                <i class="fa fa-sort-@(DataProvider.SortDescending ? "desc" : "asc")"></i>
                            }
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Data != null)
                {
                    foreach (TableItem item in Data)
                    {
                        <tr>
                            @foreach (IColumn<TableItem> column in Columns)
                            {
                                <td>
                                    @if (DataProvider.IsEditMode && column.EditorTemplate != null)
                                    {
                                        @column.EditorTemplate(item)
                                    } else
                                    {
                                        @column.Template(item)
                                    }                                    
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="@Columns.Count" style="text-align:center"><h1>Loading...</h1></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    [CascadingParameter(Name = "DataProvider")] public IDataProvider<TableItem> DataProvider { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    private IEnumerable<TableItem> Data;

    private List<IColumn<TableItem>> Columns { get; set; } = new List<IColumn<TableItem>>();

    protected override void OnInitialized()
    {
        DataProvider.OnChange += Update;
    }

    private void Update()
    {
        Data = DataProvider.GetData();
        StateHasChanged();
    }

    public void AddColumn(IColumn<TableItem> column)
    {
        Columns.Add(column);
        StateHasChanged();
    }

    public void RemoveColumn(IColumn<TableItem> column)
    {
        Columns.Remove(column);
        StateHasChanged();
    }
}