@typeparam TableItem

@if (Columns.Any())
{
    <BSTable IsBordered="true" IsHovarable="true" IsSmall="true" IsResponsive="true" IsStriped="true">
        <BSTableHead Class="thead-light text-dark">
            <tr>
                @foreach (IColumn<TableItem> column in Columns)
                {
                    <th>
                        <span @onclick="@(() => SortBy(column))" style="@(column.Sortable ? "cursor: pointer;" : "") @(!string.IsNullOrEmpty(column.Width) ? $"width:{column.Width};" : "")">@column.Title</span>

                        @if (SortColumn == column)
                        {
                            <i class="fa fa-sort-@(SortDescending ? "desc" : "asc")"></i>
                        }

                        @if (column.Filterable)
                        {
                            <div class="float-right">
                                <a href="javascript:;" id="@($"Filter-{column.Title}")" @onclick="@((x) => column.ToggleFilter())"><i class="fa fa-filter"></i></a>
                            </div>
                        }
                    </th>
                }
            </tr>
        </BSTableHead>
        <tbody>
            @if (TempItems != null)
            {
                if (TempItems.Any())
                {
                    foreach (TableItem item in TempItems)
                    {
                        <tr>
                            @foreach (IColumn<TableItem> column in Columns)
                            {
                                <td>
                                    @if (IsEditMode && column.EditorTemplate != null)
                                    {
                                        @column.EditorTemplate(item)
                                    }
                                    else
                                    {
                                        @column.Template(item)
                                    }
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="@Columns.Count" style="text-align:center"><h1>No items...</h1></td></tr>
                }
            }
            else
            {
                <tr><td colspan="@Columns.Count" style="text-align:center"><h1>Loading...</h1></td></tr>
            }
        </tbody>
    </BSTable>

    @foreach (IColumn<TableItem> column in Columns)
    {
        @if (column.Filterable)
        {
            <BSPopover Target="@($"Filter-{column.Title}")" IsOpen="@column.FilterOpen" Placement="Placement.Bottom" DismissOnNextClick="false">
                <BSPopoverHeader>Filter</BSPopoverHeader>
                <BSPopoverBody>
                    <Filter TableItem="TableItem" Column="column"></Filter>
                </BSPopoverBody>
            </BSPopover>
        }
    }
}

<CascadingValue Value="(ITable<TableItem>)this" Name="Table">
    @ChildContent
</CascadingValue>