@namespace KubeUI.Core.Components.Types

<h2>
    <img src="_content/KubeUI.Core/png/resources/unlabeled/crd-128.png" width="32"> <a href="/CustomResourceDefinitions">Custom Resource Definitions</a> / @Plural.@Group
</h2>

<br />

<CustomObjectList Namespace="@Namespace" Group="@Group" Version="@Version" Plural="@Plural" />