<Table PageSize="20" TableItem="V1Deployment" Items="Items">
    <Column TableItem="V1Deployment" Title="Name" Field="@(x => x.Metadata.Name)" Sortable="true" Filterable="true" Width="30%">
        <Template>
            <a href="/@context.Metadata.NamespaceProperty/Deployment/@context.Metadata.Name">@context.Metadata.Name</a>
        </Template>
    </Column>
    <Column TableItem="V1Deployment" Title="Labels" Width="15%">
        <Template>
            @foreach (var label in context.Metadata.Labels.OrEmptyIfNull())
            {
                <BSBadge>@label.Key : @label.Value</BSBadge>
            }
        </Template>
    </Column>
    <Column Title="Selector" TableItem="V1Deployment" Width="15%">
        <Template>
            @foreach (var selector in context.Spec.Selector.MatchLabels.OrEmptyIfNull())
            {
                <BSBadge>@selector.Key : @selector.Value</BSBadge>
            }
        </Template>
    </Column>
    <Column Title="Status" TableItem="V1Deployment" Field="@(x => x.Status.AvailableReplicas)" Sortable="true" Filterable="true" Width="7%">
        <Template>
            @context.Status.AvailableReplicas/@context.Status.Replicas
        </Template>
    </Column>
    <Column Title="Age" TableItem="V1Deployment" Field="@(x => x.Metadata.CreationTimestamp)" Sortable="true" Filterable="true" Width="5%">
        <Template>
            @string.Format("{0:N0}d", (DateTime.UtcNow - context.Metadata.CreationTimestamp).Value.TotalDays)
        </Template>
    </Column>
    <Column Title="Images" TableItem="V1Deployment" Width="30%">
        <Template>
            @foreach (var item in context.Spec.Template.Spec.Containers)
            {
                @item.Image
                <br />
            }
        </Template>
    </Column>
    <Pager TableItem="V1Deployment" ShowPageNumber="true" ShowTotalCount="true" />
</Table>