@namespace KubeUI.Core.Components.Types

<Table PageSize="20" TableItem="V1CustomResourceDefinition" Items="Items">
    <Column TableItem="V1CustomResourceDefinition" Title="Name" Field="@(x => x.Metadata.Name)" Sortable="true" Filterable="true" DefaultSortColumn="true">
        <Template>
            <a href="/CustomObjects/@(State.GetNamespaceUrl() + @context.Spec.Group)/@context.Spec.Versions.First().Name/@context.Spec.Names.Plural">@context.Spec.Names.Kind</a>
        </Template>
    </Column>
    <Column TableItem="V1CustomResourceDefinition" Title="Group" Field="@(x => x.Spec.Group)" Sortable="true" Filterable="true" />
    <Column TableItem="V1CustomResourceDefinition" Title="Age" Field="@(x => x.Metadata.CreationTimestamp)" Sortable="true" Filterable="true" Width="7%">
        <Template>
            @context.Metadata.CreationTimestamp.Value.ToPrettyDate()
        </Template>
    </Column>
    <Column TableItem="V1CustomResourceDefinition" Title="Actions" Align="Align.Center" Width="5%">
        <Template>
            <BSButtonGroup DropdownDirection="DropdownDirection.Left">
                <BSDropdown>
                    <BSDropdownToggle Color="Color.Secondary" Size="Size.Small">⚙️</BSDropdownToggle>
                    <BSDropdownMenu>
                        <BSDropdownItem Href="javascript:void(0);" OnClick="@(async () => await Delete(context))"><i class="fas fa-trash"></i>&nbsp;&nbsp;Delete</BSDropdownItem>
                    </BSDropdownMenu>
                </BSDropdown>
            </BSButtonGroup>
        </Template>
    </Column>
    <Pager ShowPageNumber="true" ShowTotalCount="true" />
</Table>