@typeparam TItem

@if (Item != null)
{
    <ul style="padding-left:20px">
        @foreach (var property in Item.GetType()
           .GetProperties()
           .Where(x =>
           x.PropertyType.FullName.StartsWith("KubeUI.Schema.") ||
           x.PropertyType.FullName.StartsWith("System.Collections."))
           )
        {
            var attributes = TypeDescriptor.GetProperties(Item.GetType())[property.Name].Attributes;

            if (Common.IsIgnore(attributes) || !Common.ShouldShow(attributes, State.GetUILevel()))
            {
                continue;
            }

            var item = property.GetValue(Item);
            if (item == null)
            {
                item = Activator.CreateInstance(property.PropertyType);
                property.SetValue(Item, item);
            }

            if (Common.IsDisplayInTree(attributes))
            {
                var genType = property.PropertyType.GetTypeInfo().GenericTypeArguments[0];

                <li>
                    <span @onmouseover="@(() => SetHelp.InvokeAsync(property.GetSummary()))">@property.Name.AddSpacesToSentence().TrimVersionNumbers() </span> <a href="javascript:;" @onclick="@((e) => AddNew(item))" title="Add New @property.Name.AddSpacesToSentence().TrimVersionNumbers()"><i class="fa fa-plus"></i></a>

                    <ul style="padding-left:20px">
                        @{int n = (int)property.PropertyType.GetProperty("Count").GetValue(item);}
                        @for (int i = 0; i < n; i++)
                        {
                            object[] index = { i };

                            object myObject = property.PropertyType.GetProperty("Item").GetValue(item, index);

                            string displayPropertyName = Common.GetDisplayInTreeName(attributes);

                            string propertyValue = null;

                            if (displayPropertyName != null)
                            {
                                var childProperty = genType.GetProperty(displayPropertyName);

                                propertyValue = childProperty?.GetValue(myObject)?.ToString();
                            }

                            if (string.IsNullOrEmpty(propertyValue))
                            {
                                propertyValue = $"Item {index[0]}";
                            }
                            <li>
                                <a href="javascript:;" @onclick="@(() => RenderForm.InvokeAsync(myObject) )" @onmouseover="@(() => SetHelp.InvokeAsync(property.GetSummary()))">@propertyValue.ToString().AddSpacesToSentence().TrimVersionNumbers()</a>
                                <a href="javascript:;" @onclick="@(() => Delete(item, (int)index[0]))" title="Delete"><i class="fa fa-trash"></i></a>
                                <Tree Item="@myObject" RenderForm="@RenderForm" SetHelp="@SetHelp"></Tree>
                            </li>
                        }
                    </ul>
                </li>
            }
            else if (!property.PropertyType.FullName.StartsWith("System.Collections."))
            {
                <li>
                    @if (Common.ShouldHideLink(property.PropertyType))
                    {
                        <span @onmouseover="@(() => SetHelp.InvokeAsync(property.GetSummary()))">@property.Name.AddSpacesToSentence().TrimVersionNumbers()</span>
                    }
                    else
                    {
                        <a href="javascript:;" @onclick="@(() => RenderForm.InvokeAsync(item) )" @onmouseover="@(() => SetHelp.InvokeAsync(property.GetSummary()))">@property.Name.AddSpacesToSentence().TrimVersionNumbers()</a>
                    }
                    <Tree Item="item" RenderForm="@RenderForm" SetHelp="@SetHelp"></Tree>
                </li>
            }
        }
    </ul>
}

@code{
    [Parameter] TItem Item { get; set; }
    [Parameter] EventCallback<TItem> ItemChanged { get; set; }
    [Parameter] EventCallback<object> RenderForm { get; set; }
    [Parameter] protected EventCallback<object> SetHelp { get; set; }

    [Inject] protected IState State { get; set; }

    protected override void OnInit()
    {
    }

    private void AddNew(object obj)
    {
        var genType = obj.GetType().GetTypeInfo().GenericTypeArguments[0];

        var newObj = Activator.CreateInstance(genType);

        object[] data = { newObj };

        obj.GetType().GetMethod("Add").Invoke(obj, data);

        StateHasChanged();
    }

    private void Delete(object obj, int id)
    {
        object[] data = { id };

        obj.GetType().GetMethod("RemoveAt").Invoke(obj, data);

        StateHasChanged();
    }
}
