@namespace KubeUI.Core.Components.Types

<Table PageSize="20" TableItem="V1Event" Items="(Filter == null ? Items : Items.AsQueryable().Where(Filter).ToList())">
    <Column TableItem="V1Event" Title="Name" Field="@(x => x.Metadata.Name)" Sortable="true" Filterable="true" Width="20%">
        <Template>
            <a href="/@context.Metadata.NamespaceProperty/Event/@context.Metadata.Name">@context.Metadata.Name</a>
        </Template>
    </Column>
    <Column TableItem="V1Event" Title="Labels" Width="15%">
        <Template>
            @foreach (var label in context.Metadata.Labels.OrEmptyIfNull().Take(2))
            {
                <BSBadge Color="Color.Secondary">@label.Key : @label.Value</BSBadge>
            }
        </Template>
    </Column>
    <Column TableItem="V1Event" Title="Labels" Width="15%">
        <Template>
            @foreach (var label in context.Metadata.Labels.OrEmptyIfNull().Take(2))
            {
                <BSBadge Color="Color.Secondary">@label.Key : @label.Value</BSBadge>
            }
        </Template>
    </Column>
    <Column Title="Age" TableItem="V1Event" Field="@(x => x.Metadata.CreationTimestamp)" Sortable="true" Filterable="true" Width="7%">
        <Template>
            @context.Metadata.CreationTimestamp.Value.ToPrettyDate()
        </Template>
    </Column>
    <Pager TableItem="V1Event" ShowPageNumber="true" ShowTotalCount="true" />
</Table>