@namespace KubeUI.Core.Components.Types

<Table PageSize="20" TableItem="V1PersistentVolume" Items="(Filter == null ? Items : Items.AsQueryable().Where(Filter).ToList())">
    <Column TableItem="V1PersistentVolume" Title="Name" Field="@(x => x.Metadata.Name)" Sortable="true" Filterable="true">
        <Template>
            <a href="/PersistentVolume/@context.Metadata.Name">@context.Metadata.Name</a>
        </Template>
    </Column>
    <Column TableItem="V1PersistentVolume" Title="Requests" Width="10%">
        <Template>
            @context.Spec.Capacity["storage"]
        </Template>
    </Column>
    <Column TableItem="V1PersistentVolume" Title="Status" Field="@(x => x.Status.Phase)" Sortable="true" Filterable="true" Width="10%" />
    <Column TableItem="V1PersistentVolume" Title="Age" Field="@(x => x.Metadata.CreationTimestamp)" Sortable="true" Filterable="true" Width="7%">
        <Template>
            @context.Metadata.CreationTimestamp.Value.ToPrettyDate()
        </Template>
    </Column>
    <Column TableItem="V1PersistentVolume" Title="Actions" Align="Align.Center" Width="5%">
        <Template>
            <BSButtonGroup DropdownDirection="DropdownDirection.Left">
                <BSDropdown>
                    <BSDropdownToggle Color="Color.Secondary" Size="Size.Small">⚙️</BSDropdownToggle>
                    <BSDropdownMenu>
                        <BSDropdownItem Href="javascript:void(0);" OnClick="@(async () => await Delete(context))"><i class="fas fa-trash"></i>&nbsp;&nbsp;Delete</BSDropdownItem>
                    </BSDropdownMenu>
                </BSDropdown>
            </BSButtonGroup>
        </Template>
    </Column>
    <Pager ShowPageNumber="true" ShowTotalCount="true" />
</Table>