<div class="top-row pl-3 navbar navbar-dark">
    <a class="navbar-brand" href="/">
        <img src="/favicon-32x32.png" width="32" height="32" class="d-inline-block" alt="">
        KubeUI
    </a>
    <button class="navbar-toggler" @onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) @onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <i class="fas fa-home"></i>&nbsp;Home
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@("/Connect")">
                <i class="fas fa-link"></i>&nbsp;Connect
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link disabled">
                <strong>Cluster</strong>
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@("/Namespaces")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/ns-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Namespaces
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@("/Nodes")">
                <img src="_content/KubeUI.Core/png/infrastructure_components/unlabeled/node-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Nodes
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@("/PersistentVolumes")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/pv-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Persistent Volumes
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link disabled">
                <strong>Config and Storage</strong>
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@($"/{State.Namespace}/ConfigMaps")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/cm-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Config Maps
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@($"/{State.Namespace}/Secrets")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/sc-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Secrets
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@($"/{State.Namespace}/PersistentVolumeClaims")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/pvc-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Persistent Volume Claims
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link disabled">
                <strong>Metadata</strong>
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@("/CustomResourceDefinitions")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/crd-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>CRDs
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link disabled">
                <strong>Service</strong>
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@($"/{State.Namespace}/Ingresses")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/ing-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Ingresses
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@($"/{State.Namespace}/Services")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/svc-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Services
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link disabled">
                <strong>Workloads</strong>
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@($"/{State.Namespace}/Deployments")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/deploy-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Deployments
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@($"/{State.Namespace}/Pods")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/pod-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Pods
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@($"/{State.Namespace}/ReplicaSets")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/rs-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Replica Sets
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@($"/{State.Namespace}/StatefulSets")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/sts-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Stateful Sets
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@($"/{State.Namespace}/Events")">
                <img src="_content/KubeUI.Core/png/resources/unlabeled/sts-128.png" width="22" style="filter: grayscale(40%)" /><span>&nbsp;</span>Events
            </NavLink>
        </li>
    </ul>
</div>